{
  "version": 2,
  "builds": [
    {
      "src": "index.js",
      "use": "@vercel/node"
    }
  ],
  "routes": [
    {
      "src": "/(.*)",
      "dest": "/index.js"
    }
  ],
  "env": {
    "GMAIL_USER": "@gmail_user",
    "GMAIL_APP_PASSWORD": "@gmail_app_password",
    "YOUR_EMAIL": "@your_email",
    "DEFAULT_FROM_EMAIL": "@default_from_email"
  }
}
